<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="base.css"/>
    <link rel="stylesheet" href="icofont.css"/>
    <title>Palavrim</title>
  </head>
  <body></body>
</html>
